* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: clip;
  overflow-y: clip;
  font-family: "Open Sans", sans-serif;
}

.main__shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main__shortcut-recycle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
}

.main__shortcut-recycle:hover {
  background-color: #ffffff24;
}

.main__shortcut-recycle img {
  width: 50%;
}

.main__shortcut-recycle p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  margin-top: 2px;
}

.main__shortcut-chrome {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  top: 92px;
  border-radius: 5px;
  cursor: context-menu;
}

.main__shortcut-chrome:hover {
  background-color: #ffffff24;
}

.main__shortcut-chrome img {
  width: 50%;
}

.main__shortcut-chrome p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  margin-top: 5px;
}

.main__shortcut-edge {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
  top: 197px;
}

.main__shortcut-edge:hover {
  background-color: #ffffff24;
}

.main__shortcut-edge img {
  width: 50%;
}

.main__shortcut-edge p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  margin-top: 5px;
}

.main__shortcut-folder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
  top: 296px;
}

.main__shortcut-folder:hover {
  background-color: #ffffff24;
}

.main__shortcut-folder img {
  width: 50%;
}

.main__shortcut-folder p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.main__shortcut-vscode {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
  top: 386px;
}

.main__shortcut-vscode:hover {
  background-color: #ffffff24;
}

.main__shortcut-vscode img {
  width: 50%;
}

.main__shortcut-vscode p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  margin-top: 5px;
}

.main__navBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  padding: 5px 20px;
  background: linear-gradient(44deg, #1c222d, #0f2158, #1c222d);
}

.main__navBar__menu {
  margin-right: 48vh;
}

.main__navBar__menu img {
  margin-right: 5px;
  padding: 4px 4px;
  border-radius: 5px;
  cursor: context-menu;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__menu img:hover {
  background: #ffffff24;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__navBar__settings .uparrow-icon {
  padding: 8px 2px;
  border-radius: 5px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings .uparrow-icon:hover {
  background: #ffffff24;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings-language {
  font-size: 0.8em;
  text-align: center;
  padding: 5px 4px;
  border-radius: 5px;
  cursor: context-menu;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings-language:hover {
  background: #ffffff24;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0px;
  border-radius: 5px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings-connection:hover {
  background: #ffffff24;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings-connection img:nth-of-type(1) {
  margin-right: 5px;
  margin-left: 10px;
}

.main__navBar__settings-connection img:nth-of-type(2) {
  margin-right: 10px;
}

.main__navBar__settings-time {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px 2px;
  border-radius: 5px;
  cursor: context-menu;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.main__navBar__settings-time:hover {
  background: #ffffff24;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
/*# sourceMappingURL=bundle.css.map */