.main {
  background-image: url(../img/bg.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.main__shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.main__shortcut-recycle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
}

.main__shortcut-recycle:hover {
  background-color: #ffffff24;
}

.main__shortcut-recycle img {
  width: 50%;
}

.main__shortcut-recycle p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.main__shortcut-chrome {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  top: 92px;
  border-radius: 5px;
  cursor: context-menu;
}

.main__shortcut-chrome:hover {
  background-color: #ffffff24;
}

.main__shortcut-chrome img {
  width: 50%;
}

.main__shortcut-chrome p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.main__shortcut-edge {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
  top: 197px;
}

.main__shortcut-edge:hover {
  background-color: #ffffff24;
}

.main__shortcut-edge img {
  width: 50%;
}

.main__shortcut-edge p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.main__shortcut-folder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
  top: 296px;
}

.main__shortcut-folder:hover {
  background-color: #ffffff24;
}

.main__shortcut-folder img {
  width: 50%;
}

.main__shortcut-folder p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.main__shortcut-vscode {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: context-menu;
  top: 386px;
}

.main__shortcut-vscode:hover {
  background-color: #ffffff24;
}

.main__shortcut-vscode img {
  width: 50%;
}

.main__shortcut-vscode p {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.main__navBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  bottom: 0;
  width: 100%;
  padding: 5px 20px;
  background: linear-gradient(44deg, #1c222d, #0f2158, #1c222d);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__navBar__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__navBar__settings-language {
  font-size: 0.8em;
  text-align: center;
}

.main__navBar__settings-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0px;
  border-radius: 5px;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.main__navBar__settings-connection:hover {
  background: #ffffff24;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.main__navBar__settings-connection img:nth-of-type(1) {
  margin-right: 5px;
  margin-left: 10px;
}

.main__navBar__settings-connection img:nth-of-type(2) {
  margin-right: 10px;
}

.main__navBar__settings-time {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=main.css.map */