.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: clip;
  overflow-y: clip;
  font-family: "Open Sans", sans-serif;

  // Toggle Menu
  &.active {
    .main__menu {
      height: 600px;
      padding: 25px;
      visibility: visible;
    }
  }

  &.activeUp {
    .apps-occult {
      height: 48px;
      padding: 5px;
      visibility: visible;
    }
  }

  &__shortcut {
    display: flex;
    flex-flow: column nowrap;

    &-recycle {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 2px;
      }
    }

    &-chrome {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      top: 92px;
      border-radius: 5px;
      cursor: context-menu;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }

    &-edge {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;
      top: 197px;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }

    &-folder {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;
      top: 296px;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
      }
    }

    &-vscode {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;
      top: 386px;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }
  }

  &__navBar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
    background: linear-gradient(44deg, #1c222d, #0f2158, #1c222d);

    &__menu {
      margin-right: 25%;

      & img {
        margin-right: 5px;
        padding: 4px 4px;
        border-radius: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }
    }

    &__settings {
      display: flex;
      color: #fff;
      align-items: center;

      & .uparrow-icon {
        padding: 8px 2px;
        border-radius: 5px;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }

      &-language {
        font-size: 0.8em;
        text-align: center;
        padding: 5px 4px;
        border-radius: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }

      &-connection {
        display: flex;
        padding: 8px 0px;
        border-radius: 5px;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }

        & img:nth-of-type(1) {
          margin-right: 5px;
          margin-left: 10px;
        }

        & img:nth-of-type(2) {
          margin-right: 10px;
        }
      }

      &-time {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5px 2px;
        border-radius: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }
    }
  }

  & .apps-occult {
    position: absolute;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    bottom: 60px;
    right: 150px; 
    border-radius: 10px;
    background: #1c2134;
    border: 1px solid #292d32;
    box-shadow: 0px 0px 10px 0px #06152c;
    transition: all cubic-bezier(0.4, 0, 1, 1) 0.2s;

    & img {
      padding: 5px;
      border-radius: 5px;
      transition: all ease 0.2s;

      &:hover {
        background-color: #ffffff40;
        transition: all ease 0.2s;
      }
    }
  }

  &__menu {
    position: absolute;
    display: block;
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    width: 600px;
    bottom: 60px;
    left: 28%;
    background: linear-gradient(44deg, #1c222d, #0f2158, #1c222d);
    border-radius: 10px;
    border: 1px solid #292d32;
    box-shadow: 0px 0px 10px 0px #06152c;
    transition: all ease 0.3s;

    &.activeAdm {
      .administrator-option {
        visibility: visible;
        height: 132px;
        padding: 10px;
      }
    }

    &.activeOff {
      .off-option {
        visibility: visible;
        height: 134px;
        padding: 10px;
      }
    }

    &__search {
      position: relative;

      & img {
        position: absolute;
        width: 3%;
        transform: rotate(80deg);
        bottom: 12px;
        left: 8px;
      }

      & input {
        padding: 10px 35px;
        width: 100%;
        border: 1px solid #292d32;
        border-bottom: 2px solid #4cc2ff;
        border-radius: 5px;
        background: #222122;
        outline: none;
        color: #fff;
        font-family: "Open Sans", sans-serif;

        &::placeholder {
          color: #c6c6c6;
        }
      }
    }

    &__software {
      display: flex;
      flex-direction: column;

      &-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 0px 25px;

        & h1 {
          color: #fff;
          font-size: 0.9em;
        }

        & a {
          color: #fff;
          font-size: 0.8em;
          text-decoration: none;
          cursor: context-menu;
          padding: 5px 10px;
          background-color: #ffffff24;
          border-radius: 5px;
          transition: all ease 0.2s;

          &:hover {
            background-color: #ffffff40;
            transition: all ease 0.2s;
          }
        }
      }

      &-apps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & .app-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 15px;
          width: 16%;
          border-radius: 5px;
          cursor: context-menu;
          transition: all ease 0.2s;

          &:hover {
            background: #ffffff24;
            transition: all ease 0.2s;
          }

          & img {
            margin-bottom: 5px;
          }

          & p {
            color: #fff;
            font-size: 0.8em;
          }
        }
      }
    }

    &__recommendation {
      display: flex;
      flex-direction: column;

      &-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 0px 25px;

        & h2 {
          color: #fff;
          font-size: 0.9em;
        }

        & a {
          color: #fff;
          font-size: 0.8em;
          text-decoration: none;
          cursor: context-menu;
          padding: 5px 10px;
          background-color: #ffffff24;
          border-radius: 5px;
          transition: all ease 0.2s;

          &:hover {
            background-color: #ffffff40;
            transition: all ease 0.2s;
          }
        }
      }

      & .app-recommendation {
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;

        &-box {
          display: flex;
          padding: 10px 15px;
          width: 47%;
          align-items: center;
          border-radius: 5px;
          transition: all ease 0.2s;

          &:hover {
            background-color: #ffffff40;
            transition: all ease 0.2s;
          }

          & img {
            margin-right: 8px;
          }

          & .information {
            display: flex;
            flex-direction: column;
            cursor: context-menu;
            align-items: flex-start;
            color: #fff;

            & h3 {
              font-size: 0.9em;
              margin-bottom: 4px;
            }

            & p {
              font-size: 0.8em;
              color: #ffffff8c;
            }
          }
        }
      }
    }

    &__user {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      background: #22212285;
      border-top: 1px solid #292d32;
      border-radius: 0px 0px 10px 10px;
      width: 100%;
      padding: 10px 60px;
      justify-content: space-between;

      &-administrator {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }

        h4 {
          margin-left: 10px;
          color: #fff;
          font-size: 0.8em;
        }
      }

      & .button-off {
        border-radius: 5px;
        padding: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }
    }

    & .administrator-option {
      position: absolute;
      display: block;
      visibility: hidden;
      overflow-y: hidden;
      height: 0px;
      bottom: 70px;
      border-radius: 10px;
      background: #1c2134;
      border: 1px solid #292d32;
      box-shadow: 0px 0px 10px 0px #06152c;
      transition: all cubic-bezier(0.4, 0, 1, 1) 0.3s;

      & .admin-chooses {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }

        & h5 {
          color: #fff;
          font-size: 0.9em;
          margin-left: 10px;
        }
      }
    }

    & .off-option {
      position: absolute;
      display: block;
      visibility: hidden;
      overflow-y: hidden;
      height: 0px;
      bottom: 70px;
      right: 25px;
      border-radius: 10px;
      background: #1c2134;
      border: 1px solid #292d32;
      box-shadow: 0px 0px 10px 0px #06152c;
      transition: all cubic-bezier(0.4, 0, 1, 1) 0.3s;

      & .off-chooses {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }

        & h5 {
          color: #fff;
          font-size: 0.9em;
          margin-left: 10px;
        }
      }
    }
  }
}
