.main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: clip;
  overflow-y: clip;
  font-family: "Open Sans", sans-serif;

  &__shortcut {
    display: flex;
    flex-flow: column nowrap;

    &-recycle {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 2px;
      }
    }

    &-chrome {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      top: 92px;
      border-radius: 5px;
      cursor: context-menu;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }

    &-edge {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;
      top: 197px;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }

    &-folder {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;
      top: 296px;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
      }
    }

    &-vscode {
      position: absolute;
      display: flex;
      width: 6.5%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 5px 0px;
      border-radius: 5px;
      cursor: context-menu;
      top: 386px;

      &:hover {
        background-color: #ffffff24;
      }

      & img {
        width: 50%;
      }

      & p {
        color: #fff;
        text-align: center;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }
  }

  &__navBar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row nowrap;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
    background: linear-gradient(44deg, #1c222d, #0f2158, #1c222d);

    &__menu {
      margin-right: 48vh;

      & img {
        margin-right: 5px;
        padding: 4px 4px;
        border-radius: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }
    }

    &__settings {
      display: flex;
      color: #fff;
      align-items: center;

      & .uparrow-icon {
        padding: 8px 2px;
        border-radius: 5px;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }

      &-language {
        font-size: 0.8em;
        text-align: center;
        padding: 5px 4px;
        border-radius: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }

      &-connection {
        display: flex;
        padding: 8px 0px;
        border-radius: 5px;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }

        & img:nth-of-type(1) {
          margin-right: 5px;
          margin-left: 10px;
        }

        & img:nth-of-type(2) {
          margin-right: 10px;
        }
      }

      &-time {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5px 2px;
        border-radius: 5px;
        cursor: context-menu;
        transition: all ease 0.2s;

        &:hover {
          background: #ffffff24;
          transition: all ease 0.2s;
        }
      }
    }
  }

  &__menu {
    width: 600px;
    height: 600px;
    bottom: 60px;
    left: 28%;
    position: absolute;
    background: linear-gradient(44deg, #1c222d, #0f2158, #1c222d);
    border-radius: 10px;
    border: 1px solid #292d32;
    box-shadow: 0px 0px 10px 0px #06152c;
  }
}
